
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Nanum Gothic', serif;
}

ul {
    list-style-type: none;

}

li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #212121;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#toast-msg {
    font-family: 'NanumBarunGothic', serif;
    z-index: 300;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: fixed;
    left: 41%;
    top: 100px;
    width: 330px;
    padding: 30px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

.spinner {
    margin: 100px auto 0;
    width: 300px;
    text-align: center;
    position: fixed;
    z-index: 200;
    top: 35vh;
    left: 40vw;
}

.bounce1, .bounce2, .bounce3 {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #ffd866;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    background-size: 70%;
    background-image: url("/image/hamburger.png");
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce2 {
    background-image: url("/image/sandwich.png");

}

.bounce3 {
    background-image: url("/image/bento.png");

}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}