

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    z-index: 120;
    opacity: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-wrapper {
    min-width: 800px;
    max-height: 90vh;
    overflow: auto;
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    height: auto;
    width: 80%;
    position: relative;
    z-index: 120;
}


.popup .content {
    max-height: 100%;
    overflow: auto;
}

.popup-reviewImage{
    background-image: url("/image/ex.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: black;
    background-position: center;
    height: 500px;
    filter: brightness(80%);
}

.popup-productImage{
    position: relative;
    top: -100px;
    left: 5%;
    width: 20%;
    height: 250px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-image: url("http://cdn2.bgfretail.com/bgfbrand/files/product/8801105000283.jpg");
    background-repeat: no-repeat;
    border: solid 3px #e7e7e7;
    border-radius: 10px;
}

.popup-productWrapper{
    width: 40%;
    position: relative;
    top: -330px;
    left: 28%;
}
.popup-productName{
    margin-top: 50px;
    color: #3a3a3a;
    font-size: 30px;
    font-weight: 700;
}

.popup-productPrice,.popup-productBrand,.popup-productPrice2,.popup-productBrand2,.popup-productScore,.popup-productScore2{
    float: left;
    font-size: 15px;
    margin-top: 20px;
    width: 50%;
    color: darkgrey;
}

.popup-productPrice2,.popup-productBrand2,.popup-productScore2{
    font-size: 20px;
    color: #5f5f5f;
    font-weight: 700;
}

.popup-productScore{
    margin-top: 50px;
}

.popup-productScore2{
    font-size: 25px;
    color:white;
    margin-left: -10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;;
    border-radius: 40px;
    background-color: #FF7800;
}

.popup-productCount{
    font-size: 20px;
    text-align: left;
}

.popup-productCount>div:nth-child(1){
    font-size: 13px;
    color: #eaeaea;
}

.popup-productCount>div:nth-child(2){
    color: #fff8cc;
    margin-top: 5px;
    font-size: 25px;
}

.popup-ratingChart{
    width: 35%;
    position: relative;
    top: -330px;
    left: 60%;
    height: 200px;
}

#ratingChart{
    position: relative;
    top: -150px;
}


.line{;
    background-color: #e7e7e7;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    height: 2px;
}

.popup-reviewScoreWrapper{
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    top: -200px;
    width: 88%;
    margin: auto;
    height: 290px;
    border-radius: 20px;
    background-color: #e7e7e7;
}

.popup-reviewScore, .popup-reviewAllergy{
    background-color: #FF7800;
    color: white;
    width: 40%;
    margin: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

.popup-reviewChart{
    width: 100%;
    margin-top: 50px;
    height: 200px;
}

.popup-reviewScoreElement{
    width: 23%;
    margin: 20px 1% 15px 1%;
    border-radius: 10px;
    height: 250px;
    float: left;
    background-color: white;
}

.popup-reviewAllergy2{
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 20px;

}

.popup-reviewCount,.popup-reviewFilter,.popup-reviewWrite{
    position:relative;
    top:-70px;
    margin-left:5%;
    color: gray;
    font-size: 18px
}

.popup-reviewFilter, .popup-reviewWrite{
    margin-top: -20px;
    float: right;
    font-size: 12px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-right: 5%;
    margin-left: 0%;
    background-color: #bcbcbc;
    text-align: center;
    border-radius: 5px;
}

.popup-reviewFilter-dropdown{
    display: none;
    width: 100%;
}
.popup-reviewFilter-element{
    background: #eeeeee;
    height: 30px;
    text-align: 30px;
    font-size: 12px;
    border-radius: 5px;
    border: solid 1px white;
    width:100%;
    top:0;
    z-index: 110;
    left: 0;
    position: relative;
    color: #191919;
}

.popup-reviewFilter-element:hover{
    background: #ffb769;
    color: #ffffff;
}


.popup-reviewWrite{
    margin-right: 10px;
    background-image: url("/image/write_icon.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.popup-reviewFilter{
    background-image: url("/image/filter_icon.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.popup-reviewWrite:hover,.popup-reviewFilter:hover{
    background-color: #6d6d6d;
    filter: brightness(110%);
}

.popup-reviewWrapper, .popup-newReviewWrapper{
    width: 90%;
    margin: 20px auto auto auto;
    background-color: #fff6f2;
    border-radius: 10px;

}

.popup-reviewWrapperList{
    padding-top: 10px;
    width: 100%;

}
.popup-review{
    margin: 50px auto auto auto;
    width: 95%;
    border-bottom: dashed 1px #bbbbbb;
    height: 300px;
}

.popup-review-profile{
    float: left;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size: contain;
    background-image: url("/image/profile.png");
}

.popup-review-nameTime, .popup-review-eval{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 20px;
    height: 80px;
}

.popup-review-eval{
    float: right;
}

.popup-review-time, .popup-review-name{
    margin-left: 20px;
    color: #646464;
}

.popup-review-star{
    margin-top: 25px;
}

#popupStar{
    margin-left: 30px;
}

.popup-review-top{
    width: 100%;
}

.popup-review-bottom{
    margin-top: 10px;
    background-color: white;
    float: left;
    margin-left: 2%;
    width: 98%;
    height: 150px;
    border-radius: 10px;
}

.popup-review-good, .popup-review-bad{
    float: left;
    width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #9a80ff;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 12px;
}

.popup-review-good:hover, .popup-review-bad:hover {
    filter: brightness(120%);
}

.popup-review-good2, .popup-review-bad2{
    float: left;
    width: 50px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popup-review-bad{
    background-color: #ff686d;

}

.popup-review-pfq-p,.popup-review-pfq-f,.popup-review-pfq-q{
    float: right;
    margin-right: 10px;
}

.popup-review-image{
    float: left;
    background-color: #ff471b;
    background-image: url("/image/bg.png");
    background-size: contain;
    border-radius: 10px;
    width: 150px;
    margin-right: 20px;
    height: 150px;
}

.popup-review-image:hover{
    transform: translateX(70px) translateY(-50px) scale(2);
    transition-duration: 0.5s;
}

.popup-review-comment{
    margin: 15px;
    max-height: 150px;
    overflow: hidden;
    color: #282828;
    line-height:2em;

}

.popup-review-pfq{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.popup-review-pfq-top, .popup-review-pfq-bottom{
    text-align: center;
    font-size: 12px;
    width: 50px;

}

.popup-review-pfq-top{
    background-color:#FF7800 ;
    border: solid 1px #FF7800;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.popup-review-pfq-bottom{
    border: solid 1px #FF7800;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: red ;
}

.popup-newReviewWrapper{
    /*display: none;*/
    height: 400px;
    margin-bottom: 100px;
    background-color: white;
    border: solid 2px #eeeeee;
}

.popup-newReviewWrapper-top{
    height: 40px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-newReview-product{
    float: left;
    margin-left: 20px;
    line-height: 40px;
    width: 100px;
    height: 40px;

}


.popup-newReview-cancel{
    margin-right: 10px;
    filter: brightness(80%);
    float: right;
    left: 95%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image:url("/image/cancel.png")
}

.popup-newReviewWrapper-mid{
    background-color: #eeeeee;
    height: 320px;
    padding-top: 10px;
    width: 100%;
}


.popup-newReview-image{
    float: left;
    width: 20%;
    height: 300px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.popup-newReview-imageEle{
    width: 100%;
    height:270px;
    background-image: url("/image/camera.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 10px;
    border: solid 2px #bcbcbc;


}



.popup-newReview-scoreWrapper{
    float: left;
    width: 30%;
    height: 300px;
    margin-left: 1%;
}


.popup-newReview-star,.popup-newReview-price,.popup-newReview-flavor,.popup-newReview-quantity{
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid 2px #ffb88d;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border-radius: 10px;

}

.popup-newReview-star{
    background-size: 30%;

}

.popup-newReview-star2,.popup-newReview-price2,.popup-newReview-flavor2,.popup-newReview-quantity2{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    font-size: 12px;
}




.popup-newReview-comment{
    float: left;
    width: 44%;
    padding: 15px;
    border-radius: 5px;
    line-height: 1em;
    margin-left: 10px;
    font-size: 12px;
    margin-right: 1%;
    background-color: white;
    border: solid 2px #bcbcbc;
    height: 300px;
}


.popup-newReviewWrapper-bottom{
    height: 40px;
    width: 100%;
    background-color: #eeeeee;
    border-bottom: solid 2px #eeeeee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.popup-newReview-addAllegy{
    float: left;
    width: 130px;
    background-color: #b4b4b4;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popup-newReview-completeBtn{
    background-image: url("/image/write_icon.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    float: right;;
    line-height: 30px;
    margin-right: 5px;
    width: 80px;
    color: white;
    text-align: center;
    background-color: #FF7800;
    height: 35px;
    border-radius: 10px;
}

.popup-newReview-completeBtn:hover,.popup-newReview-addAllegy:hover{
    filter: brightness(130%);
}


.newReview-list{
    margin-left: 2%;
    width: 100%;
    height: 30px;
}

.newReview-element{
    float: left;
    width: 17%;
    height: 25px;
    line-height: 25px;
    margin-left: 2%;
    color: #646464;
    background-color: #e2dbd6;
}

.newReview-element:hover, .newReview-element-price-select, .newReview-element-flavor-select, .newReview-element-quantity-select{
    background-color: #424242;
    color: white;
}