.rank-container{
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    /*height: 2000px;*/
}

.rank-wrapper{
    margin: auto;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("/image/counter_bg.jpg");*/
    /*background-position: center;*/
    background-color: #ff5f4e;
    text-align: center;
    width: 100%;
    height: 140px;
}

.rank-category-wrapper{
    margin: 40px auto;
}

.rank-category-tab {
    background-size: 30%;
    background-position: top;
    background-position-y: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 220px;
    text-align: center;
    width: 10%;
    color: white;
    cursor: pointer;
    height: 140px;
    filter:brightness(80%);

}

.img-category{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 25%;
    height: 100px;
}


.selected-rank-category-tab, .rank-category-tab:hover{
    filter: brightness(140%);
    font-size: 20px;
    height: 140px;
}

.rank-query-wrapper{
    margin-top: 30px;
    height: 50px;
}

.rank-query-type-wrapper{
    text-align: right;
    width: 100%;
    float: right;
    margin: 25px auto;
    padding-right: 10%;
}

.rank-query-tab{
    cursor: pointer;
    display: inline-block;
    width: 100px;
    color: grey;
}

.selected-rank-query-tab{
    color: #ff2321;
    font-weight: bold;
}

.rank-brand-type-wrapper{
    margin-left: 20px;
    height: 40px;
}

.rank-brand-type{
    margin: 35px auto;
    width: 100%;
    font-size: 13px;
    height: 40px;
}

.rank-brand-type-tab{
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    width: 5%;
    background-color: #ffded1;
}

.selected-rank-brand-type-tab{
    background-color: #ff5f4e;
    color: white;
}

.ranking-item-list-wrapper{
    width: 100%;
    /*height: 100%;*/
}

.rank-card-content{
    height: 400px;
    text-align: center;
    width: 25%;
    float: left;
}

.rank-card-rating{
    display: inline-block;
}

.rank-card-description {
    margin-top: 20px;
    font-weight: bold;
}

.rank-card-name {
    margin-top: 30px;
}

.rank-card-price {
    margin-top: 10px;
}

.rank-card-image {
    margin-top: 15px;
    width: 180px;
    height: 180px;
}
