.main-rank-wrapper {
    /*background-color: blue;*/
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.main-rank-header {
    position: relative;
    top:150px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-size: 25px;
}

.main-div-wrapper {
    margin-top: 100px;
}

.main-rank-tab-wrapper {
    margin: 200px auto auto auto;
    /*background-color: red;*/
    text-align: center;
    width: 90%;
}

.main-rank-tab {
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    width: 10%;
    border-radius: 3px;
    background-color: #ffded1;
}

.main-rank-tab:hover {
    background-color: #ff5853;
    color: white;
}

.main-rank-selectedtab {
    background-color: #ff5853;
    color: white;
}

.main-rank-content {
    text-align: center;
    /*background-color: yellow;*/
    width: 70%;
    height: 500px;
    margin: 50px auto auto auto;
}

.card-main-rank-wrapper {
    margin: 50px auto auto auto;
    width: 80%;
    text-align: center;
}

.card-main-rank-content {
    margin-top: 30px;
    width: 33%;
    float: left;
    height: 30%;
    border-radius: 2%;
}

.card-main-badge-area1,.card-main-badge-area2,.card-main-badge-area3{
    position: absolute;
    /*top: 125px;*/
    width: 40px;
    height: 40px;
    margin-left: 3%;
    line-height: 40px;
    color: white;
    border-radius: 20px;
}

.card-main-badge-area1 {
    background-color: gold;
}

.card-main-badge-area2 {
    background-color: silver;
}

.card-main-badge-area3 {
    background-color: brown;
}

.card-main-badge {
    /*margin: auto;
    vertical-align: middle;
    text-align: center;*/
}

.card-rank-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: brightness(50%);
}

.card-rank-image:hover {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: brightness(90%);
}

.card-main-description {
    margin-top: 20px;
    font-weight: bold;
}

#card-main-rank-rating1 {
    display: inline-block;
}

#card-main-rank-rating2 {
    display: inline-block;
}

#card-main-rank-rating3 {
    display: inline-block;
}

.card-main-rank-name {
    margin-top: 30px;
}

.card-main-rank-price {
    margin-top: 10px;
}

@media( max-width: 780px ) {
    .main-rank-wrapper {
        width: 100%;
        height: 1700px;
        margin: auto;
        margin-top: 200px;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .main-rank-header {
        position: relative;
        top:100px;
        text-align: center;
        line-height: 100px;
        height: 100px;
        font-size: 25px;
    }


    .main-rank-tab-wrapper {
        cursor: pointer;
        margin: 100px auto auto auto;
        /*background-color: red;*/
        text-align: center;
        width: 90%;
    }

    .main-rank-tab {
        margin-top: 10px;
        width: 20%;
    }


    .main-rank-selectedtab {
        background-color: #ff5853;
        color: white;
    }

    .main-rank-content {
        text-align: center;
        width: 70%;
        height: 1000px;
        margin: 50px auto auto auto;
    }

    .card-main-rank-wrapper {
        margin: 30px auto auto auto;
        width: 100%;
        text-align: center;
    }

    .card-main-rank-content {
        margin-top: 80px;
        width: 100%;
        float: left;
        height: 30%;
        border-radius: 2%;
    }



}
