.review-container{
    margin: 100px 10%;
    width: 80%;

}

.review-item-list-wrapper{
    margin: auto;
    width: 100%;
}

.review-query-wrapper{
    margin-top: 30px;
    height: 50px;
}

.review-query-type-wrapper{
    text-align: right;
    width: 100%;
    float: right;
    margin: 25px auto;
    padding-right: 5%;
}

.review-query-tab{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 100px;
    color: grey;
}

.selected-review-query-tab{
    color: #ff2321;
    font-weight: bold;
}

.card-main-review-content{

}

.review-card-readmore{
    color: black;
}

.review-card-readmore:hover{
    color: red;
}

.review-card-content{
    float: left;
    box-shadow: 5px 5px 5px #9a9a9a;
    border-radius: 10px;
    position: relative;
    width: 28.3%;
    margin: 2%;
    height: auto;
    overflow: hidden;
}


.review-card-image-wrapper{
    position: relative;
}

.review-card-brand{
    position: absolute;
    z-index: 5;
    width: 15%;
    height: 50px;
    border-bottom-right-radius: 10px;
}

.review-card-date{
    position: absolute;
    right: 10px;
    z-index: 5;
    margin-top: 10px;
    color: rgba(92, 92, 92, 0.68);
}

.review-card-image{
    filter: brightness(70%);
    display: block;
    width: 100%;
    height: 240px;
}

.review-card-image:hover{
    filter: brightness(100%);
}

.review-user-image-wrapper{
    z-index: 10;
    width: 90%;
    margin: 5%;
    text-align: center;
}

.review-user-image{
    float: left;
    width: 30%;
    height: auto;
    top: 175px;
    left: 35%;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.review-card-description{
    width: 100%;
    font-size: 15px;
    position: relative;


}

.review-card-rating{
    display: inline-block;
}

.review-card-assess{
    float: right;
}

.review-card-name{
    margin-top: 10px;
}

.review-card-rating{

}

.review-card-review{
    overflow: auto;
    color: black;
    line-height: 2em;
    background-color: #eeeeee;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.popup-review-good, .popup-review-bad{
    cursor:pointer;
    float: left;
    width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #9a80ff;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 12px;
}

.popup-review-bad{
    background-color: #ff686d;
}

.popup-review-good2, .popup-review-bad2{
    float: left;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
