.review-container{
    margin-top: 60px;
}

.review-item-list-wrapper{
    margin: auto;
}

.review-query-wrapper{
    margin-top: 30px;
    height: 50px;
}

.review-query-type-wrapper{
    text-align: right;
    width: 100%;
    float: right;
    margin: 25px auto;
    padding-right: 10%;
}

.review-query-tab{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 100px;
    color: grey;
}

.selected-review-query-tab{
    color: #ff2321;
    font-weight: bold;
}

.card-main-review-content{

}

.review-card-readmore{
    color: black;
}

.review-card-readmore:hover{
    color: red;
}

.review-card-content{
    position: relative;
    height: 510px;
    float: left;
    border: solid 2px #ffb3b2;
    margin: 15px;
    overflow: hidden;
}

.review-card-image-wrapper{
    margin: 15px;
    width: 400px;
    display: block;
    position: relative;
}

.review-card-brand{
    position: absolute;
    z-index: 5;
    width: 80px;
    height: 50px;
}

.review-card-date{
    position: absolute;
    right: 10px;
    line-heighst: 1;
    z-index: 5;
    color: green;
}

.review-card-image{
    display: block;
    width: 400px;
    height: 240px;
    position: relative;
}

.review-user-image-wrapper{
    display: block;
    z-index: 5;
    margin-top: -75px;
    width: 400px;
    text-align: center;
    position: relative;
}

.review-user-image{
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 50%;
}

.review-card-description{
    font-weight: bold;
}

.review-card-rating{
    display: inline-block;
}

.review-card-assess{
    float: right;
}

.review-card-name{
    margin-top: 10px;
}

.review-card-rating{

}

.review-card-review{
    margin-top: 10px;
}

.popup-review-good, .popup-review-bad{
    cursor:pointer;
    float: left;
    width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #9a80ff;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 12px;
}

.popup-review-good2, .popup-review-bad2{
    float: left;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
